        <!-- footer -->
        <footer>
        <!-- newsletter -->
        <!-- <div class="newsletter">
          <div class="container">
            <div class="row">
              <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block" style="">
                <h3 class="text-white">Subscribe Now</h3>
                <form action="#">
                  <div class="input-wrapper">
                    <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                    <button type="submit" value="send" class="btn btn-primary">Join</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> -->
        <!-- footer content -->
        <div class="footer bg-footer section border-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-sm-8 mb-5 mb-lg-0">
                <!-- logo -->
                <a class="logo-footer" href="{{ site.data.config.tu_berlin_mainpage }}"><img class="mr-3 mb-3" src="/assets/images/logo/TU-Berlin.svg" alt="TU Berlin" height="40px"></a>
                <a class="logo-footer" href="{{ site.data.config.rsim_mainpage }}"><img class="mr-3 mb-3" src="/assets/images/logo/RSiM_Logo_1.png" alt="RSiM" height="40px"></a>
                <ul class="list-unstyled">
                  <li class="mb-2">Technische Universität Berlin</li>
                  <li class="mb-2">Remote Sensing Image Analysis (RSiM) Group</li>
                  <li class="mb-2">EN-5, 6th floor</li>
                  <li class="mb-2">Einsteinufer 17</li>
                  <li class="mb-2">10587 Berlin </li>
                </ul>
              </div>
              <!-- links -->
              <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                <h4 class="text-white mb-5">LINKS</h4>
                <ul class="list-unstyled">
                  <li class="mb-3"><a class="text-color" href="https://git.tu-berlin.de/rsim/">RSiM GitLab</a></li>
                  <li class="mb-3"><a class="text-color" href="/teaching">Teaching</a></li>
                  <li class="mb-3"><a class="text-color" href="/news">News</a></li>
                  <li class="mb-3"><a class="text-color" href="/projects">Projects</a></li>
                  <li class="mb-3"><a class="text-color" href="/thesis">Thesis</a></li>
                  <li class="mb-3"><a class="text-color" href="/publications">Publications</a></li>
                </ul>
              </div>
              <!-- support -->
              <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                <h4 class="text-white mb-5">RESOURCES</h4>
                <ul class="list-unstyled">
                </ul>
              </div> -->
              <!-- support -->
              <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                <h4 class="text-white mb-5">RECOMMEND</h4>
                <ul class="list-unstyled">
                  <li class="mb-3"><a class="text-color" href="#">WordPress</a></li>
                  <li class="mb-3"><a class="text-color" href="#">LearnPress</a></li>
                  <li class="mb-3"><a class="text-color" href="#">WooCommerce</a></li>
                  <li class="mb-3"><a class="text-color" href="#">bbPress</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
        <!-- copyright -->
        <div class="copyright py-4 bg-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-7 text-sm-left text-center">
                <p class="mb-0">Copyright
                  <script>
                    var CurrentYear = new Date().getFullYear()
                    document.write(CurrentYear)
                  </script>
                  © {{ site.data.config.group_name }}</p>
              </div>
              <div class="col-sm-5 text-sm-right text-center">
                <ul class="list-inline">
                  <!-- <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
                  <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
                  <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li> -->
                  <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-linkedin text-primary"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </footer>
        <!-- /footer -->

        <!-- jQuery -->
        <script src="/assets/plugins/jQuery/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- slick slider -->
        <script src="/assets/plugins/slick/slick.min.js"></script>
        <!-- aos -->
        <script src="/assets/plugins/aos/aos.js"></script>
        <!-- venobox popup -->
        <script src="/assets/plugins/venobox/venobox.min.js"></script>
        <!-- filter -->
        <script src="/assets/plugins/filterizr/jquery.filterizr.min.js"></script>
        <!-- google map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
        <script src="/assets/plugins/google-map/gmap.js"></script>

        <!-- Main Script -->
        <script src="/assets/js/script.js"></script>