<!DOCTYPE html>
<html lang="en-US">
  {% include header.html %}
  <body>
    <!-- preloader start -->
    <!-- <div class="preloader">
      <img src="/assets/images/preloader.gif" alt="preloader">
    </div> -->
    <!-- preloader end -->

    {% include page_header.html %}

    <!-- page title -->
    <!-- <section class="page-title-section bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <ul class="list-inline custom-breadcrumb">
              <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/team/members/d"></a></li>
              <li class="list-inline-item text-white h3 font-secondary nasted">{{ page.title }}</li>
            </ul>
            <p class="text-lighten">we have really nice pubs.</p>
          </div>
        </div>
      </div>
    </section> -->
    <!-- /page title -->

    {{ content }}

    {% include page_footer.html %}

  </body>
</html>
